.gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item {
        margin: 0;
        padding: 0;
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;
        cursor: pointer;
    }
}
