{{- $types := dict 
    "item" "item"
    "quest" "quest"
    "duty" "duty"
    "npc" "npc/npc"
    "recipe" "recipe"
    "gathering" "gathering"
    "achievement" "achievement"
    "text_command" "text_command"
    "shop" "shop"
-}}

{{- $id := "" -}}
{{- $type := "" -}}

{{- range $key, $value := $types -}}
    {{- if $.Get $key -}}
        {{- $id = $.Get $key -}}
        {{- $type = $value -}}
    {{- end -}}
{{- end -}}
<a href="https://na.finalfantasyxiv.com/lodestone/playguide/db/{{ $type }}/{{ $id }}/" class="eorzeadb_link db-icon">{{ .Inner }}</a>