{{ $value := .Get 0 }}
{{ $type := .Get 1 | default "normal" }}
{{ $titles := dict 
    "normal" "Quest"
    "feature" "Feature quest"
    "msq" "Main Story quest"
    "leve" "Levequest"
    "other" "Other quest"
    "featurerepeat" "Repeatable feature quest"
    "normalrepeat" "Repeatable quest"
}}
{{ $title := index $titles $type }}

<span
    class="quest-icon icon"
    style="background-image: url('/icon/quest-{{ $type }}.png');"
    title="{{ $title }}"
>
    {{ $value }}<span class="sr-only"> {{ $title }}</span>
</span>
